@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');
.organization-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  .organization-title {
    font-family: Matrix;
    font-size: 1.8em;
    letter-spacing: 5px;
  }
  .organization-description {
    width: 450px;
    // height: 350px;
    h2::first-letter {
      font-size: 36px;
      font-weight: bold;
      color: #903;
    }
    h2 {
      text-indent: 50px;
      text-align: justify;
      font-size: 20px;
      margin: 0 0 50px 0;
      font-family: Matrix;
      font-weight: normal;
    }
  }
  .organization-tilt {
    .organization-image {
      height: 680px;
      width: auto;
    }
  }
}
