@font-face {
  font-family: Matrix;
  src: url('../../assets/fonts/Matrix\ II\ Regular.otf');
}
body {
  overflow-x: hidden;
  background-image: url('../../assets/images/background3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide-in {
  position: relative;
  -webkit-animation: slideIn 2s forwards;
  -moz-animation: slideIn 2s forwards;
  animation: slideIn 2s forwards;
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}

.home {
  border-radius: 5px;
  margin: 0 30px;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  .data-container {
    display: flex;
    flex-direction: row;
    .game-details {
      border: 2px solid;
      margin: 50px 50px 50px 20px;
      display: flex;
      flex-direction: column;
      height: 50%;
      h2 {
        background-color: #b9aa8b;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 20px 0;
        font-weight: bold;
        font-style: italic;
        font-family: Matrix;
      }
      h3 {
        font-family: Matrix;
        font-weight: normal;
      }
      .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 0 20px 0;
        margin: 20px 0 0 100px;
        .developer,
        .publisher,
        .director,
        .producer,
        .designer,
        .artist,
        .writers,
        .composer,
        .plataform,
        .release,
        .genre,
        .game-mode,
        .game-sequel {
          display: flex;
          .title {
            border-right: 1px solid;
            padding-right: 5px;
            margin: 0 30px 0 0;
            width: 150px;
          }
          h4 {
            font-family: Matrix;
            font-weight: normal;
            margin-top: 0;
          }
          .game-name {
            font-weight: bold;
            font-style: italic;
          }
        }
        .release,
        .publisher {
          .flag-container {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            .flag-text {
              margin: 0 0 0 10px;
            }
          }
        }
        .director {
          display: flex;
        }
      }
      .figure-cover {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        .fig {
          font-size: 16px;
          font-family: Matrix;
          text-align: center;
          margin-bottom: 20px;
        }
      }
    }
    .text-container {
      h1 {
        text-align: center;
        letter-spacing: 5px;
      }
      p::first-letter {
        font-size: 36px;
        font-weight: bold;
        color: #903;
      }
      p {
        font-family: Matrix;
        font-weight: normal;
        font-size: 20px;
        line-height: 1.6;
        margin-right: 50px;
        text-align: justify;
        text-indent: 50px;
      }
    }
  }
}
