@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');
.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    font-family: Matrix;
    font-size: 1.8em;
  }
  .description {
    width: 350px;
    height: 500px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    text-justify: inter-word;
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 12pt;
    .link {
      width: 100%;
      text-decoration: none;
      .button {
        width: 100%;
      }
    }
  }
}
