@font-face {
  font-family: Matrix;
  src: url('../../assets/fonts/Matrix\ II\ Regular.otf');
}
body {
  overflow-x: visible;
  background-image: url('../../assets/images/background3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide-in {
  position: relative;
  -webkit-animation: slideIn 2s forwards;
  -moz-animation: slideIn 2s forwards;
  animation: slideIn 2s forwards;
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}

.character-home {
  border-radius: 5px;
  margin: 0 30px;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  flex-wrap: wrap;
  h1 {
    font-family: Matrix;
    letter-spacing: 5px;
  }
  h2,
  p {
    font-family: Matrix;
    font-size: 16px;
    text-indent: 50px;
    text-align: justify;
    line-height: 1.4;
  }
  p::first-letter {
    font-size: 36px;
    font-weight: bold;
    color: #903;
    letter-spacing: 2px;
  }
  .character-name {
    margin-bottom: 50px;
  }
  .character-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    .character-text-container {
      border-right: 1px solid;
      height: 1250px;
      display: flex;
      flex-direction: column;
      padding: 5px;
      flex-wrap: wrap;
    }
    .character-text {
      padding: 0 5px;
      width: 470px;
      margin: 10px;
      font-weight: normal;
    }
    .Tilt {
      margin-left: 100px;
      img {
        height: 700px;
      }
    }
  }
}
